apiVersion: apps/v1
kind: Deployment
metadata:
 name: springboot
spec:
 replicas: {{ .Values.replicaCount }}
 selector:
  matchLabels:
   app: springboot
 template:
  metadata:
   labels:
    app: springboot
  spec:
   containers:
   - name: app
     image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
     ports:
     - containerPort: 8080